

.home {
    background-color: #a41414;
    background-position: center;
    font-family: Arial, sans-serif;
}

.about {
    background-color:e0e0e0;
    font-family: Arial, sans-serif;
}

.contact {
    background-color: #d0d0d0;
    font-family: Arial, sans-serif;
}

.services {
    background-color: #c0c0c0;
    font-family: Arial, sans-serif;
}
